<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/headlinks') %>  
    
    <link rel="stylesheet" href="/static/css/articles.css">
</head>
<body>

    <%- include('./partials/navbar') %> 

    <main>

        <h4 class="category"><%= records.category %> </h4>
        <p class="date"><%= records.published_date %> </p>
        <h3 class="topic"><%= records.title %> </h3>
    
        <a href="/news/about/<%= records.author %> ">
            <p class="author">By <%= name %> </p>
        </a>
    
        <p class="desc">
            <%- records.body %> 
        </p>
    
    
    </main>
    
</body>
</html>