<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%- include('./partials/headlinks') %>  
    <link rel="stylesheet" href="/static/css/author.css">
</head>
<body>
    <%- include('./partials/navbar') %> 

    <main>
        
        <h1 class="heading">Author's Details</h1>

        <div class="auth-card">
            <p class="name"><b>Username : <%= author.username %> </b></p>
            <p class="name">Full Name : <%= author.full_name %> </p>
            <p class="date">Joined : <%= author.joined_date %> </p>
            <p class="name">Number of articles written : <%= articles.length %> </p>
        </div>

        <h2 class="heading">Articles by <%= author.username %>  :-</h2>

        <% if (articles.length <= 0) { %>
            <p style="margin: 20px auto;text-align: center; ">No Articles written. Click on create to write one</p>
        <% } else {%>
        
        <% articles.forEach(item => { %>
            
            <a href="/news/view/<%= item._id %> ">
                <div class="article">
                    <p><%= item.title.substring(0,40) %>...</p>

                    <div class="right">
                        <p class="date"><%= item.published_date %>  </p>

                        <!----Delete only if Author is user----->
                        <% if (String(user._id) == String(author._id)) { %>         
                            <a href="/news/delete/<%= item._id %> "><i class="fas fa-trash-alt"></i></a>
                        <% } %> 
                    </div>

                </div>
            </a>


        <% }); }%>

        
    </main>

    <script>
        let  name= document.querySelectorAll('.name');
        // console.log(name)
        name[1].style.color = "#2385cc";
        
    </script>
</body>
</html>