<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/headlinks') %>  
    <link rel="stylesheet" href="/static/css/home.css">
</head>
<body>
    <%- include('./partials/navbar') %> 

    <h1 class="heading"> Top Headlines :-</h1>
    
    <main>

        <% if (records.length > 0) { %>

            <% records.forEach(item => { %>
                <a href="/news/view/<%= item._id %> ">
                    <div class="blogs">
                        <p class="category"><%= item.category %> </p>
                        <p class="date"><%= item.published_date %> </p>
                        <p class="body">
                             <%= item.title.substring(0,80) %><span><b>...</b></span>
                        </p>
                    </div>
                </a>
            <% }) %>
            
        <% } else { %>
            <p></p>
            <p style="margin: 20px auto;text-align: center; ">No Articles written. Click on create to write one</p>
            <p></p>
        <% } %> 
    
    </main>
    
</body>
</html>